<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= content_tag :div, id: "root", 
      data: {
        name: "ゾウ",
        age: 42,
        login: @user,
        root_path: root_path,
        login_path: '/auth/auth0',
        logout_path: 'auth/logout',
        profile_path: profile_path
      }.to_json do %>
    <% end %>

    <%= yield %>
  </body>
</html>